<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25925693915-mnuhm0qd22fh3ggf19bb9jlqtbtjvf3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25925693915-mnuhm0qd22fh3ggf19bb9jlqtbtjvf3p</string>
	<key>API_KEY</key>
	<string>AIzaSyCtcyciNu5nxQ6zlHKwB7-rpwaBXJPvu9c</string>
	<key>GCM_SENDER_ID</key>
	<string>25925693915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brett.walton.project.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>livescoreapp-872de</string>
	<key>STORAGE_BUCKET</key>
	<string>livescoreapp-872de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25925693915:ios:886a55c3f8433bfc3df7fe</string>
</dict>
</plist>